#Resultados de compilacion
[Pp]ublish/
[Dd]ebug/
[Rr]elease/
[Ss]etup/
[Bb]in/
[Oo]bj/
*.licx
*.vshost.exe
*.exe.manifest
*.log
*.pdb

# Archivos de usuario
*.user
*.suo
*.sln.docstates
_ReSharper.*
*.sln.cache
*.xap
*.ncb
*.vspcc
*.vscc 
*.vssscc

# Procesos automaticos de VS
[Bb]ackup*/
[Uu]pgradeLog*.XML
